.main-news {
    display: flex;
    justify-content: center;
}

.news-view-frame {
    padding: 10px;
    margin: 0 30px;
    background-color: #F2F2F2;
    display: inline-block;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 30px;
}