header {
    margin: 40px auto 40px;
    width: 100%;
}

.contentHeader {
    display: flex;
    align-items: center;
}

header .contentHeader h1 {
    font-weight: 200;
}


header .contentHeader img {
    margin-right: 25px;
}