.article {
    width: 100%;
    padding-bottom: 10%;

}

.body-espectaculos a {
    text-decoration: none;
    color: #161616;
}

.body-espectaculos a:hover {
    color: #58be7d;
}

h2 {
    font-size: 20px;
    color: #161616;
}

h2:hover {
    color: #58be7d;
}

.autor {
    color: #161616;
}

.fecha {
    color: #cbcbcb;
}

.article .target-new {
    display: flex;
}

.seccion-3 article {
    height: 100px;
    margin-bottom: 20px;
}

.seccion-3 h2 {
    font-size: 16px;
}


.seccion-3 .article .target-new img {
    width: 35%;
    height: 100%;
    margin-right: 25px;
}