.article {
    width: 100%;
    padding-bottom: 10%;
}

h2 {
    font-size: 20px;
    color: #161616;
}

h2:hover {
    color: #58be7d;
}

.autor {
    color: #161616;
}

.fecha {
    color: #cbcbcb;
}

.article .target-new {
    display: flex;
}

.seccion-2 {
    margin-right: 10px;
}

.seccion-2 article {
    margin-bottom: 20px;
}

.seccion-2 h2 {
    font-size: 20px;
}

.seccion-2 .article .target-new img {
    width: 50%;
    height: 100%;
    margin-right: 15px;
}